html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(35, 35, 35);
    font-family: 'Georgia';
    color: white;
    margin: 0;
    padding: 0;
}

#ljTop{
    /* font-family: 'DotGothic16', sans-serif; */
    /* font-family: 'Shantell Sans', cursive; */
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Genos', sans-serif; */
    /* font-family: 'Cinzel', serif; */
    font-size: 40px;
    /* letter-spacing: 4px; */
}

#degree{
    font-size:20px;
}

/* Lawrence John Balanza br computer science bs */
header h1{
    /* font-family: 'Lobster', sans-serif; */
    /* padding: 15px; */
    margin:0px;
    top: -35px;
    left: 0;
    width: 100%;
    position: static;
    /* background-color:rgb(41, 41, 41); */
    /* background-image: radial-gradient( rgba(0, 0, 0, 0.411), rgba(138, 136, 0, 0.342)); */
    /* background-repeat: no-repeat; */
    text-align: center;
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Cinzel', serif;
    font-size: 30px;
    padding-bottom:.5%;
    padding-top: .5%;
}

header h1 a{
    text-decoration: none;
    color: white;
}

/* Computer science bs */
header h1 span{
    font-size: .4em;
    /* font-family: garamond;  */
}

/* lj portrait */
.banner img{ 
    /* position: absolute;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10% */

    position: absolute;
    top: 170px;
    left: 41%;
    width: 20%;
    border-radius: 10% 
    
}

.banner a{
    text-decoration: none;
    color: rgb(152, 152, 152);
}

/* welcome to my website! */
.contact{
    position: relative;
    left: 20%;
    top: 50px;
    line-height: 3em;
    font-size:12px;
    /* text-align: center; */
}

.contact1{
    font-size:30px;
    /* text-align: center; */
}

/* nav links */

.main-nav{
    padding: 0;
    overflow: hidden;
}

.navContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding: 0;
    width:100%;
    list-style-type: none;
    /* gap:0px; */
    /* gap: 5%; */
    /* font-family: 'Amatic SC', sans-serif; */
    font-family: 'Permanent Marker', cursive;
    /* font-size:500px; */
}


nav{
    background-color: #5d5d5d;
    /* padding-left: 55px; */
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top:0px;
    position: sticky;
    top: -6px;
    z-index: 1;
}

nav ul{
    white-space: nowrap;
    margin: 0 auto;
}

nav a{
    display: inline-block;
    font-size: 20px;
    padding: 10px 10px;
    padding-left: 3%;
    padding-right: 3%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;

    background-image: linear-gradient(to bottom, #5d5d5d 10%, #001b8898);
    background-size:300% 500%;
    /* background-repeat:no-repeat; */
    /* background-color:#5d5d5d; */
    border-radius: 0%;
    background-position-y: top;
    transition: background-position .8s;
}


nav a:hover {
    background-position-y: bottom;
    /* background-color: rgba(38, 38, 92, 0.979); */
}


main{
    position: relative;
    width: 600px;
    margin: 600px auto;
    padding: 0 10px;
    box-sizing: border-box;
    /* top: 900px; */
    color: rgb(228, 228, 228);
}

.project{
    padding-top: 0px;
}

.project h1{
    text-align: center;
}

.project h3{
    text-align: center;
}

/* .cubetube img, .Blackjack img, .President img, .Spacebase img, .Adventure img, .Turtle img{
    width: 100%;
} */

.project img{
    width: 100%;
}

.project h3{
    font-size: 30px;
}

.project h4{
    font-size: 10px;
    font-style: italic;
}

.Guessboo h3 span{
    font-size: 15px;
    font-style: italic;
}

img.cssShow{
    width: 50%;
} 

/* .Blackjack img{
    width: 100%;
} */

.welcome h2 span{
    font-size: 35px;
    font-style: italic;
}



