html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(35, 35, 35);
    font-family: 'Georgia';
    color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
}

/* Lawrence John Balanza br computer science bs */
header h1{
    margin: 0;
    padding: 20px;
    top: 20px;
    left: 0;
    width: 100%;
    /* position: absolute; */
    background-color:rgb(41, 41, 41);
    text-align: center;
    /* font-family: 'Brush Script MT'; */
    font-size: 35px;
}

header h1 a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}

/* Computer science bs */
header h1 span{
    font-size: .4em;
    /* font-family: garamond;  */
}


/* welcome to my website! */
.welcome{
    position: relative;
    left: -30%;
    top: 300px;
    line-height: 3em;
    font-size:12px;
    text-align: center;
}

/* nav links */

nav{
    background-color: #5d5d5d;
    /* padding: 100px auto; */
    padding-left: 55px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: sticky;
    top: -6px;
    /* font-family: arial; */
    z-index: 1;
}

nav ul{
    white-space: nowrap;
    margin: 0 auto;
}

nav li{
    /* width: 150px; */
    display: inline-block;
    font-size: 20px;
    padding-right: 80px;
}


nav li a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}

/* .home{
}

.otherProject{
    padding-left: 40px;
} */

main{
    position: relative;
    width: 600px;
    margin: 600px auto;
    padding: 0 10px;
    box-sizing: border-box;
    top: -600px;
    color: rgb(228, 228, 228);
}

#toplabel{
    font-size:40px;
}


a{
    color: rgb(152, 152, 152);
}

.downloads{
    font-size:30px;
}