html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(35, 35, 35);
    font-family: 'Georgia';
    color: white;
    margin: 0;
    padding: 0;
}

#ljTop{
    /* font-family: 'DotGothic16', sans-serif; */
    /* font-family: 'Shantell Sans', cursive; */
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Genos', sans-serif; */
    /* font-family: 'Cinzel', serif; */
    font-size: 40px;
    /* letter-spacing: 4px; */
}

#degree{
    font-size:20px;
}

/* Lawrence John Balanza br computer science bs */
header h1{
    /* font-family: 'Lobster', sans-serif; */
    /* padding: 15px; */
    margin:0px;
    top: -35px;
    left: 0;
    width: 100%;
    position: static;
    /* background-color:rgb(41, 41, 41); */
    /* background-image: radial-gradient( rgba(0, 0, 0, 0.411), rgba(138, 136, 0, 0.342)); */
    /* background-repeat: no-repeat; */
    text-align: center;
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Cinzel', serif;
    font-size: 30px;
    padding-bottom:.5%;
    padding-top: .5%;
}

header h1 a{
    text-decoration: none;
    color: white;
}

/* Computer science bs */
header h1 span{
    font-size: .4em;
    /* font-family: garamond;  */
}


/* welcome to my website! */
.welcome{
    position: absolute;
    left: -30%;
    top: 300px;
    line-height: 3em;
    font-size:12px;
    text-align: center;
}

/* nav links */

.main-nav{
    padding: 0;
    overflow: hidden;
}

.navContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding: 0;
    width:100%;
    list-style-type: none;
    font-family: 'Permanent Marker', cursive;
    /* gap:0px; */
    /* gap: 5%; */
}


nav{
    background-color: #5d5d5d;
    /* padding-left: 55px; */
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top:0px;
    position: sticky;
    top: -6px;
    z-index: 1;
}

nav ul{
    white-space: nowrap;
    margin: 0 auto;
}

nav a{
    display: inline-block;
    font-size: 20px;
    padding: 10px 10px;
    padding-left: 3%;
    padding-right: 3%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;

    background-image: linear-gradient(to bottom, #5d5d5d 10%, #001b8898);
    background-size:300% 500%;
    /* background-repeat:no-repeat; */
    /* background-color:#5d5d5d; */
    border-radius: 0%;
    background-position-y: top;
    transition: background-position .9s;
}


nav a:hover {
    background-position-y: bottom;
    /* background-color: rgba(38, 38, 92, 0.979); */
}


nav li a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}

/* .home{
}

.otherProject{
    padding-left: 40px;
} */

main{
    position: relative;
    margin-top: 9%;
    /* margin-bottom: 0px; */
    width:100%;
    top: 10px;
    color: white;
}

#toplabel{
    position: absolute;
    margin-top: -3%;
    padding: 10px 50px;
    font-size:40px;
    left:37%;
    background-image: linear-gradient(to top, rgb(35, 35, 35), rgba(38, 38, 92, 0.979));
    box-shadow: 0 0 50px 5px rgb(63, 0, 58);
    color: white;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-align: center;
}

.project{
    margin-top: -0%;
    margin-bottom: 60px;
    margin: auto;
    /* padding:auto; */
    padding-top: -50%;
    padding-bottom:150px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    width:80%;
    /* row-gap: 5000%; */
    background-image: linear-gradient(to top, rgb(35, 35, 35), rgba(63, 0, 58, 0.694), rgb(35, 35, 35));

}

#pBox{
    /* position: absolute; */
    /* border: 1px solid blue; */
    padding-bottom: 570px;
    padding-right: 50px;
    padding-left: 50px;
    /* gap: 100px; */
    margin: -150px;
    margin-bottom: -370px;
    width: 480px;
    height: 400px;
    scale: .45;
    /* background-color: rgba(73, 237, 255, 0.148); */
    background-image: linear-gradient(to bottom right, rgb(35, 35, 35), rgba(38, 38, 92, 0.979));
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    text-decoration:none;
    color:white;
    transition: all .8s ease;
}

#pBox:hover{
    height:480px;
}

.project a{
    padding-left: 45%;
    text-align: center;
    color: white;
}

.project h1{
    text-align: center;
    font-size:40px;
}

.project h3{
    text-align: center;
}

.project h4{
    padding-left: 45%;
}

/* .cubetube img, .Blackjack img, .President img, .Spacebase img, .Adventure img, .Turtle img{
    width: 100%;
} */

.pDesc{
    margin-top: 41px;
    font-size: 30px;
    text-align: center;
    display: flex; 
    color:white;
    /* align-items: center;  */
    /* justify-content: center; */
}

.project img{
    width: 100%;
    /* padding-left:10%; */
    /* padding-right:5%; */
}

.project h3{
    font-size: 27px;
}

.project h4{
    font-size: 10px;
    font-style: italic;
}

#toplabel{
    font-size:40px;
}

#ecommerce{
    margin-left: -15px;
}

#ecCheck{
    margin-left: -15px;
}

#connCheck{
    margin-left: -15px;
}

#buddy1{
    text-align: center;
}

#buddy{
    margin-left: -40px;
}



.Guessboo h3 span{
    font-size: 15px;
    font-style: italic;
}

img.cssShow{
    width: 50%;
} 

/* .Blackjack img{
    width: 100%;
} */